.movie-detail {
    display: flex;
}
.movie-img {
    flex: 0 1 45%;
}
.movie-data {
    flex: 0 1 55%;
    color: #fff;
    padding: 16px;
}
.movie-name {
    margin-top: 0;
    margin-bottom: 0.15em;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1;
}
.movie-tagline {
    font-size: 2rem;
    margin-top: 0;
}