.bg-image {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(top to bottom, rgba(0,0,0,0.6) 25%, rgba(255, 255, 255, 0.2), 75%, rgba(0,0,0,0.6) 100%);
}