@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Extra+Condensed:wght@300;500&display=swap');

body {
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sofia Sans Extra Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, textarea {
  display: block;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  color: #f8f8f8;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom-color: #eee;
}

.boxed {
  max-width: 60rem;
  margin-inline: auto;
}